{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/side_menu.css' %}" />
{% endblock head %}
{% block title %} {% endblock title %}

{% block body %}
<div class="home">
    {% include 'side_menu.html' %}

    <div style="background-color: #dae0e6; min-height: 100vh;">

        <div class="d-flex justify-content-center">
            <div class="m-1 card shadow-sm" style="height: 350px; width: 95%;">
                <div class="d-flex justify-content-center">
                    <div class="img s" style="background-color: silver;">
                        <img src="{{group.cover_picture.url}}" alt="Generic placeholder image"
                            class=" border-dark border-3"
                            style=" min-height: 250px; min-width: 1080px;  max-height: 250px; max-width: 1080px;">
                    </div>
                </div>
                <div>
                    <div class="row mt-2 ms-3">
                        <div class="col-1">
                            <img src="{{group.group_picture.url}}" alt="Generic placeholder image"
                                class="img-fluid rounded-circle border border-dark border-2"
                                style="width: 60px;min-width: 60px; height: 60px; min-height: 60px;">
                        </div>
                        <div class="col-3   mt-2">
                            <div class="row">
                                <h3 style="margin-left: -25px;">{{group.name}}</h3>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p style="margin-left: -25px;">{{group.group_type}} Group</p>
                                </div>
                                <div class="col-6 ">
                                    <p style="margin-left: -50px;">{{ group.member.all.count }} Members</p>
                                </div>
                            </div>
                        </div>

                        <div class="position-absolute bottom-0 end-0 mb-3 me-3 d-flex justify-content-end">
                            <button class="btn btn-success" data-toggle="modal" data-target="#adminmodchat">Contact
                                group admins or
                                moderator</button>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'group/contact.html' %}


        </div>

        <div class="m-5">

            <div>

                <div class="d-flex justify-content-center mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-danger">
                            You have been blocked from this group. If you think this is a mistake, please contact
                            the group admin or moderator.</h4>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>

{% endblock body %}