{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/side_menu.css' %}" />
{% endblock head %}
{% block title %} {% endblock title %}

{% block body %}
<div class="home">
  {% include 'side_menu.html' %}

  <div style="background-color: #dae0e6; min-height: 100vh;">

    <div class="d-flex justify-content-center">
      <div class="m-1 card shadow-sm" style="height: 350px; width: 95%;">
        <div class="d-flex justify-content-center">
          <div class="img s" style="background-color: silver;">
            <img src="{{group.cover_picture.url}}" alt="Generic placeholder image" class=" border-dark border-3"
              style=" min-height: 250px; min-width: 1080px;  max-height: 250px; max-width: 1080px;">
          </div>
        </div>
        <div>
          <div class="row mt-2 ms-3">
            <div class="col-1">
              <img src="{{group.group_picture.url}}" alt="Generic placeholder image"
                class="img-fluid rounded-circle border border-dark border-2"
                style="width: 60px;min-width: 60px; height: 60px; min-height: 60px;">
            </div>
            <div class="col-3   mt-2">
              <div class="row">
                <h3 style="margin-left: -25px;">{{group.name}}</h3>
              </div>
              <div class="row">
                <div class="col-6 ">
                  <p class="text-muted " style="margin-left: -25px;">{{group.group_type}} Group</p>
                </div>
                <div class="col-6 ">
                  <p class="ms-1" style="margin-left: -50px;">{{ group.member.all.count }} Members</p>
                </div>
              </div>
            </div>
            {% if request.user in group.member.all %}
            <div class="col-6 mt-2">
              <form method="POST" action="{% url 'group:group_leave' group.slug %}">
                {% csrf_token %}
                <input type="hidden" name="group_slug" value="{{ group.slug }}">
                <button type="submit" class="btn btn-outline-info ">Joined</button>
              </form>
            </div>
            {% elif request.user not in group.member.all and request.user not in group.approval.all %}
            <div class="col-6 mt-2">
              {% if  request.user.is_authenticated  %}
              <form method="POST" action="{% url 'group:group_join' group.slug %}">
                {% csrf_token %}
                <input type="hidden" name="group_slug" value="{{ group.slug }}">
                <button type="submit" class="btn btn-primary text-white">Join</button>
              </form>
              {% else %}
              <button type="submit" class="btn btn-primary text-white" {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {%endif%}>Join</button>
              {% endif %}
            </div>
            {% elif request.user in group.approval.all %}
            <div class="col-6 mt-2">
              <form method="POST" action="{% url 'group:group_leave' group.slug %}">
                {% csrf_token %}
                <input type="hidden" name="group_slug" value="{{ group.slug }}">
                <button type="submit" class="btn btn-primary text-white">Waiting For Approval</button>
              </form>
            </div>
            {% endif %}
            {% if request.user.is_authenticated  %}
            <div class="position-absolute bottom-0 end-0 mb-3 me-3 d-flex justify-content-end">
              <button class="btn btn-success" data-toggle="modal" data-target="#adminmodchat">Contact group admins or
                moderator</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% include 'group/contact.html' %}
      {% include 'restricted_group.html' %}

    </div>

    <div id="area">

      <div>

        {% if not posts %}
        <div class="d-flex justify-content-center mt-5">
            <h1 class="text-muted">No activity Yet</h1>
        </div>
        {% endif %}
        {% if posts %}

        <div class="d-flex justify-content-center mt-3">
          <div>
            <div class="card p-3 shadow-sm mt-2" style="width: 40rem;">

              <ul id="myTab" class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link text-dark {% if not request.GET.sortby == 'new'   %} active  {% endif %}"
                    href="{% url 'group:group' group.slug %}" data-toggle="sortby" data-tab="top">Top</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark  {% if request.GET.sortby == 'new'  %} active  {% endif %}" href="#new"
                    data-toggle="sortby" data-tab="new">New</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        {% endif %}

        {% for post in posts %}
        <div class="Posts">

          {% if post.is_image_based %}
          <div class="d-flex justify-content-center mt-4 mb-3 ">
            <div class="card shadow-sm overflow-hidden" style="width: 40rem; max-height: 500px;">
              <div class="card-body">
                <div class="row w-100">
                  <div class="col-1">
                    <img src="{{post.author.profile_picture.url}}" alt="Generic placeholder image"
                      class="img-fluid rounded-circle border border-dark border-3"
                      style="width: 30px;min-width: 30px; height: 30px; min-height: 30px;">
                  </div>
                  <div class="col-10">
                    <a class="text-decoration-none text-dark" href="{% url 'user:user' post.author.slug %}"> <b
                        class="me-3" style="margin-left: -15px;">u/{{post.author.username}}</b></a>
                    <small class="text-muted ">{{post.created_at|timesince}} ago.</small>
                  </div>

                </div>
                <a class="text-decoration-none text-dark" href="{%  url 'post:post' group.slug post.slug %}">
                  <div class="my-2">
                    <a href="{% url 'post:post' group.slug post.slug %}" class="text-decoration-none text-dark">
                      <h5>{{post.title}}</h5>
                   
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <img src="{{post.image.url}}" alt="Generic placeholder image"
                      class="img-fluid  border border-dark border-3 me-2 "
                      style="min-width: 300px; max-width: 560px;  min-height: 200px; max-height: 350px; ">
                  </div>
                </a>
                <div>
                  <div class="d-inline-flex mt-3">


                    <a {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% else %} class="upvote"{%endif%} href="#" data-post-id="{{ post.pk }}">
                      <h5><span
                          class="material-icons  me-3 {% if request.user in post.upvotes.all %}text-danger{% else %}text-muted{% endif %}"
                          data-votes-count="{{ post.get_votes_count }}">thumb_up_alt</span>
                      </h5>
                    </a>
                    <span id="vote_count{{post.pk}}" class="text-muted me-3">{{ post.get_votes_count }}</span>
  
                    <a {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% else %} class="downvote"{%endif%} data-post-id="{{ post.pk }}" href="#">
                      <h5>
                        <span
                          class="material-icons   me-3  {% if request.user in post.downvotes.all %}text-danger{% else %}text-muted{% endif %}">thumb_down_alt</span>
                      </h5>
                    </a>
  
  
                    <h6 class=" text-muted me-3"><span class="material-icons">chat</span></h6>
                          <a href="{% url 'post:post' post.group.slug post.slug %}" class="text-decoration-none"><span
                              class="text-muted me-3">{{post.comment_count}} comments</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% if post.is_text_based %}
          <div class="d-flex justify-content-center mt-4 mb-3 ">
            <div class="card shadow-sm overflow-hidden" style="width: 40rem; max-height: 500px;">
              <div class="card-body">
                <div class="row w-100">
                  <div class="col-1">
                    <img src="{{post.author.profile_picture.url}}" alt="Generic placeholder image"
                      class="img-fluid rounded-circle border border-dark border-3"
                      style="width: 30px;min-width: 30px; height: 30px; min-height: 30px;">
                  </div>
                  <div class="col-10">
                    <a class="text-decoration-none text-dark" href="{% url 'user:user' post.author.slug %}"> <b
                        class="me-3" style="margin-left: -15px;">u/{{post.author.username}}</b></a>
                    <small class="text-muted ">{{post.created_at|timesince}} ago.</small>
                  </div>

                </div>
                <div class="my-2">
                  <a href="{% url 'post:post' group.slug post.slug %}" class="text-decoration-none text-dark">
                    <h5>{{post.title}}</h5>
                  
                </div>
                <div class="overflow-hidden" style="max-height: 300px;">
                  <p>{{post.content|safe}}</p>

                </div></a>
                <div>
                  <div class="d-inline-flex mt-3">


                    <a {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% else %} class="upvote"{%endif%} href="#" data-post-id="{{ post.pk }}">
                      <h5><span
                          class="material-icons  me-3 {% if request.user in post.upvotes.all %}text-danger{% else %}text-muted{% endif %}"
                          data-votes-count="{{ post.get_votes_count }}">thumb_up_alt</span>
                      </h5>
                    </a>
                    <span id="vote_count{{post.pk}}" class="text-muted me-3">{{ post.get_votes_count }}</span>
  
                    <a {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% else %} class="downvote"{%endif%} data-post-id="{{ post.pk }}" href="#">
                      <h5>
                        <span
                          class="material-icons   me-3  {% if request.user in post.downvotes.all %}text-danger{% else %}text-muted{% endif %}">thumb_down_alt</span>
                      </h5>
                    </a>
  
  
                    <h6 class=" text-muted me-3"><span class="material-icons">chat</span></h6>
                          <a href="{% url 'post:post' post.group.slug post.slug %}" class="text-decoration-none"><span
                              class="text-muted me-3">{{post.comment_count}} comments</span></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% endif %}


          {% if post.is_video_based %}
          <div class="d-flex justify-content-center mt-4 mb-3 ">
            <div class="card shadow-sm overflow-hidden" style="width: 40rem; max-height: 500px;">
              <div class="card-body">
                <div class="row w-100">
                  <div class="col-1">
                    <img src="{{post.author.profile_picture.url}}" alt="Generic placeholder image"
                      class="img-fluid rounded-circle border border-dark border-3"
                      style="width: 30px;min-width: 30px; height: 30px; min-height: 30px;">
                  </div>
                  <div class="col-10">
                    <a class="text-decoration-none text-dark" href="{% url 'user:user' post.author.slug %}"> <b
                        class="me-3" style="margin-left: -15px;">u/{{post.author.username}}</b></a>
                    <small class="text-muted ">{{post.created_at|timesince}} ago.</small>
                  </div>

                </div>
                <div class="my-2">
                  <a href="{% url 'post:post' group.slug post.slug %}" class="text-decoration-none text-dark">
                    <h5>{{post.title}}</h5>
                  </a>
                </div>
                <div class="d-flex justify-content-center mt-2" style="width: 600px; background-color: black;">
                  <video class="w-100 video-fluid " controls autoplay loop muted
                    style="min-width: 300px; max-width: 560px;  min-height: 200px; max-height: 570px; ">
                    <source src="{{post.video.url}}" type="video/mp4" />
                  </video>


                </div>
                <div>
                  <div class="d-inline-flex mt-3">


                    <a {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% else %} class="upvote"{%endif%} href="#" data-post-id="{{ post.pk }}">
                      <h5><span
                          class="material-icons  me-3 {% if request.user in post.upvotes.all %}text-danger{% else %}text-muted{% endif %}"
                          data-votes-count="{{ post.get_votes_count }}">thumb_up_alt</span>
                      </h5>
                    </a>
                    <span id="vote_count{{post.pk}}" class="text-muted me-3">{{ post.get_votes_count }}</span>
  
                    <a {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% else %} class="downvote"{%endif%} data-post-id="{{ post.pk }}" href="#">
                      <h5>
                        <span
                          class="material-icons   me-3  {% if request.user in post.downvotes.all %}text-danger{% else %}text-muted{% endif %}">thumb_down_alt</span>
                      </h5>
                    </a>
  
  
                    <h6 class=" text-muted me-3"><span class="material-icons">chat</span></h6>
                          <a href="{% url 'post:post' post.group.slug post.slug %}" class="text-decoration-none"><span
                              class="text-muted me-3">{{post.comment_count}} comments</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}



        </div>

        {% endfor %}

      </div>

      <!-- right side -->

      <div class="mt-5 ">
        {% if request.user in group.admins.all or request.user in group.moderator.all %}
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <a href="{% url 'group:update-group' group.slug %}" class="btn btn-warning text-white" role="button">Edit
              Group</a>
            <a href="{% url 'group:approve-user' group.slug %}" class="btn btn-info text-white" role="button">Approve
              User {% if group.approval.count %}<span class="badge bg-danger rounded-pill">{{group.approval.count}}</span>{% endif %}</a>
            <a href="{% url 'group:approve-post' group.slug %}" class="btn btn-info text-white mt-3"
              role="button">Approve Posts  {% if approve_posts %}<span class="badge bg-danger rounded-pill">{{approve_posts}}</span>{% endif %}</a>
          </div>
        </div>

        {% endif %}

        <div class="card mb-3 mt-3" style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">About</h6>
            <div class="row mt-1">
              <p>{{group.description}}</p>
            </div>

          </div>
        </div>

        {% if request.user.is_authenticated  %}
        <div class="card mt-4" style="width: 18rem;">
          <div class="card-body">
            <div>
              <a href="{% url 'post:create-text-post' group.slug %}" class="btn btn-outline-dark" {% if group.group_type == 'Restricted' and request.user not in group.member.all %} data-toggle="modal" data-target="#RestrictedGroup" {% endif %}>Create New Post</a>
            </div>
            <div>
              <a href="{% url 'group:create-group' %}" class="btn btn-outline-dark mt-3">Create New Group</a>
            </div>

          </div>
        </div>
        {% endif %}


        {% if related_groups %}
      <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Related Groups</h6>

          {% for top in related_groups %}
        <a class="text-decoration-none text-dark" href="{% url 'group:group' top.slug %}"> <div class="row mt-2">
            <div class="col-2 ">
              {{forloop.counter}}
            </div>
            <div class="col-2">
              <img
                src="{{top.group_picture.url}}"
                alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                style="width: 30px;min-width: 30px; height: 30px; min-height: 30px;">
            </div>
            <div class="col-8" style="margin-left: -10px;">
              <h6>g/{{top.name}}</h6>
            </div>
          </div></a> 

          {% endfor %}

      
        



         <a class="text-decoration-none text-dark" href="{% url 'index:groups' %}"> <h6 class="text-muted mt-2">All.</h6></a>

        </div>
      </div>
      {% endif %}



      </div>
      <!-- end right side -->

    </div>
    {% include 'login_required.html' %}
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% csrf_token %}


<script>
  $(document).ready(function () {
    // Bind a click event listener to the upvote button
    $('.upvote').click(function (e) {

      e.preventDefault();
      const postId = $(this).data('post-id');
      const voteCountElem = $('.votes-count[data-post-id=' + postId + ']');

      // Send a POST request to the upvote view using AJAX
      $.ajax({
        type: 'POST',
        url: "{% url 'post:upvote' 0 %}".replace('0', postId),
        data: { 'post_id': postId },
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function (response) {

          const votes = $("#vote_count" + postId).text()




          if ($('.downvote[data-post-id=' + postId + '] .material-icons').hasClass('text-danger')) {
            if (parseInt(votes) == -1) {
              const newVotes = parseInt(votes) + 2;
              $("#vote_count" + postId).text(newVotes)
            }
            else {
              const newVotes = parseInt(votes) + 1;
              $("#vote_count" + postId).text(newVotes)
            }

            ;
            $('.downvote[data-post-id=' + postId + '] .material-icons').removeClass('text-danger').addClass('text-muted');
            $('.upvote[data-post-id=' + postId + '] .material-icons').removeClass('text-muted').addClass('text-danger');
          }
          else if ($('.upvote[data-post-id=' + postId + '] .material-icons').hasClass('text-danger')) {
            const newVotes = parseInt(votes) - 1;
            $("#vote_count" + postId).text(newVotes);
            $('.upvote[data-post-id=' + postId + '] .material-icons').removeClass('text-danger').addClass('text-muted');

          }
          else {
            const newVotes = parseInt(votes) + 1;
            $("#vote_count" + postId).text(newVotes);
            $('.upvote[data-post-id=' + postId + '] .material-icons').removeClass('text-muted').addClass('text-danger');
          }
        },
        error: function (xhr, status, error) {
          // Handle errors
        }
      });
    });





    $('.downvote').click(function (e) {

      e.preventDefault();
      const postId = $(this).data('post-id');
      const voteCountElem = $('.votes-count[data-post-id=' + postId + ']');

      
      $.ajax({
        type: 'POST',
        url: "{% url 'post:downvote' 0 %}".replace('0', postId),
        data: { 'post_id': postId },
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function (response) {

          const votes = $("#vote_count" + postId).text()




          if ($('.upvote[data-post-id=' + postId + '] .material-icons').hasClass('text-danger')) {
            if (parseInt(votes) == 1) {
              const newVotes = parseInt(votes) - 2;
              $("#vote_count" + postId).text(newVotes)
            }
            else {
              const newVotes = parseInt(votes) - 1;
              $("#vote_count" + postId).text(newVotes)
            }

           
            $('.upvote[data-post-id=' + postId + '] .material-icons').removeClass('text-danger').addClass('text-muted');
            $('.downvote[data-post-id=' + postId + '] .material-icons').removeClass('text-muted').addClass('text-danger');
          }
          else if ($('.downvote[data-post-id=' + postId + '] .material-icons').hasClass('text-danger')) {
            const newVotes = parseInt(votes) + 1;
            $("#vote_count" + postId).text(newVotes);
            $('.downvote[data-post-id=' + postId + '] .material-icons').removeClass('text-danger').addClass('text-muted');

          }
          else {
            const newVotes = parseInt(votes) - 1;
            $("#vote_count" + postId).text(newVotes);
            $('.downvote[data-post-id=' + postId + '] .material-icons').removeClass('text-muted').addClass('text-danger');
          }
        },
        error: function (xhr, status, error) {
          // Handle errors
        }
      });
    });


  });


</script>



<script>
  const tabLinks = document.querySelectorAll('#myTab a');
  for (const link of tabLinks) {
    link.addEventListener('click', (event) => {
      const tab = event.target.dataset.tab;
      const url = new URL(window.location.href);
      url.searchParams.set('sortby', tab);
      window.location.replace(url);
    });
  }

  // Check the current tab in the URL and activate it
  const currentTab = new URLSearchParams(window.location.search).get('tab');
  if (currentTab) {
    const activeLink = document.querySelector(`#myTab[data-tab="${currentTab}"]`);
    if (activeLink) {
      activeLink.classList.add('active');
      const activeTab = document.querySelector(`#${currentTab}`);
      if (activeTab) {
        activeTab.classList.add('show', 'active');
      }
    }
  }
</script>

{% endblock body %}