{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/side_menu.css' %}" />
{% endblock head %}
{% block title %} {% endblock title %}

{% block body %}

<div class="d-flex justify-content-center">
    <div>
        <nav id="myTab" class="nav nav-pills flex-column flex-sm-row mt-5">
            <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{% url 'user:following' request.user.slug %}">Following</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'user:followers' request.user.slug %}">Followers  {% if request.user.new_follower %} <span class="badge bg-danger rounded-pill">new</span>{% endif %}</a>
        </nav>
        <div>

            <div class="d-flex justify-content-center mt-3">
                {% if not following %}
                <h3 class="text-muted mt-5">You are not Following Anyone</h3>
                {% endif %}
            </div>
   
            {% if following %}
        

            <div>

                <div class="d-flex justify-content-center mt-4 mb-3 ">
                    <div class="card shadow-sm" style="width: 40rem; max-height: 500px;">
                        <div class="card-body">
                            <table class="table  table-hover table">

                                {% for row in following %}
                                <tr>

                                    <td>
                                        <div class="d-flex">
                                        <div class="me-4">
                                            <img src="{{row.profile_picture.url}}" alt="Group picture"
                                                class="img-fluid rounded-circle border border-dark border-3"
                                                style="width: 30px; min-width: 30px; height: 30px; min-height: 30px;">
                                        </div>
                                        <div >
                                            <a class="text-decoration-none text-dark"
                                                href="{% url 'group:group' row.slug %}"><b class="me-3"
                                                    style="margin-left: -15px;">u/{{row.username}}</b> </a>

                                        </div>
                                    </div>
                                    </td>
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="text" name="user" value="{{row.id}}" hidden />
                                     

                                        
                                                <button type="submit" name="unfollow" class="btn btn-secondary ">Unfollow</button>
                                              
                                        
                                        </form>

                                    </td>

                                </tr>
                                {% endfor %}


                            </table>

                        </div>

                    </div>
                </div>

            </div>
            {% endif %}


        </div>
    </div>
</div>

{% endblock body %}